.bg-black{
  background-color: #282c3f;
}

.bg-orange{
  background-color: #ff9f43;
  border-color: #ffa755;
}


.text-black{
  color:#282c3f;
}

.color-grey{
  color: #c8d6e5;
}

.btn-warning{
  background-color: #ff9f43;
  color:#ffffff;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #ffa755;
  border-color: #ffa755;
}

.btn-secondary{
  background-color: #282c3f;
  color: white;
}

.btn-secondary:hover{
  color:#ffa755 !important;
  background-color: #171a29 !important;
}

.nav-link:hover{
  color: #ffa755 !important;
}

.badge-warning{
  background-color: #ff9f43;
}

.text-orange{
  color:#ff9f43;
}