.footer-list{
  font-size:0.8rem;
}

.footer-heading{
  font-weight: 600;
}
.no-pd-mg {
  padding:0px !important;
  margin: 0 !important;
}

.copyright{
  font-size: 0.7rem;
  margin: 0 auto;
}

.col-sm-4{
  padding-top: 1.5rem !important;
}